.main-container {
  display: flex;

  padding: 1rem;
}

.half-container {
  /* Parent flex container: .main-container */
  flex: 1 1 calc(50% - 1rem);
  

  display: flex;
  justify-content: center;
}

@media (max-width:768px) {
  .half-container {
    align-items: center;
    margin-bottom: 1rem;
  }
}